<form id="fs-frm" name="survey-form" accept-charset="utf-8" action="https://formspree.io/f/mjvqpqab" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Dis nous qui tu es ?</label>
    <input type="text" name="Nom et prénom" id="full-name" placeholder="Nom et Prénom, s'il vous plaît" required="">
  </fieldset>
    <fieldset id="fs-frm-selects">
      <label for="Viens">Première chose, est-ce que tu viens ?</label>
      <select name="Viens" id="viens" required="">
        <option value="Oui" selected>Oui !</option>
        <option value="Non">Non :(</option>
      </select>
      <label for="Repas">1. Bonne nouvelle, on prévoit de bien manger ! </br>Mais pour faire au mieux, on a besoin de savoir si tu veux manger de la viande ou pas.</label>
      <select name="Repas" id="Repas">
        <option value="Végé" selected>Végétarien</option>
        <option value="Carné">Carnivore</option>
      </select>
      <label for="Alcool">2. Nous prévoyons aussi les boissons ! <br> Pour nous aider avec les quantités d'alcool, dis nous si tu prévois d'en boire.</label>
      <select name="Alcool" id="Alcool">
        <option value="Sans alcool" selected>Sans alcool</option>
        <option value="Alcool">Avec alcool</option>
      </select>
      <label for="Rebond">3. Nous planifions aussi un rebond le dimanche, c'est à dire un brunch pour ceux qui souhaitent jouer les prolongations. <br> Pour nous aider à prévoir les quantités, dis nous si tu penses venir.</label>
      <select name="Rebond" id="Rebond">
        <option value="Oui" selected>Oui</option>
        <option value="Non">Non</option>
      </select>
    </fieldset>
    <fieldset id="fs-frm-inputs">
     <label for="Musique">Est-ce que tu as envie d'une musique particulière pendant la soirée ?</label>
    <input type="text" name="Musique" id="Musique" placeholder="Cascada - Everytime We Touch">
    </fieldset>
    <fieldset id="fs-frm-selects">
    <label for="Parents">Pour les jeunes parents uniquement, pouvez-vous lister les équipements nécessaire pour votre/vos enfant.s que vous n'êtes *pas* en mesure de ramener vous même ?</label>
    <textarea rows="3" name="Parents" id="Parents" placeholder="Un lit parapluie, un matelas au sol, des couches, des draps..."></textarea>
    <input type="hidden" name="Parents" id="Parents">
       <label for="Menu enfant">Toujours pour les jeunes parents, combien de menus enfant sont à prévoir. Plat : Volaille du Gers panée et pommes de terre grenailles grillées aux herbes</label>
      <select name="Menu enfant" id="Menu enfant">
        <option value="0" selected="">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </fieldset>
  <input type="submit" value="C'est parti!">
<style>/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
</style><style>/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
</style>